---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Welcome to Astro.">
	<main>
	  <svg
		class="astro-a"
		width="495"
		height="623"
		viewBox="0 0 495 623"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
		aria-hidden="true"
	  >
		<path
		  fill-rule="evenodd"
		  clip-rule="evenodd"
		  d="M247.5 0C111.41 0 0 111.41 0 247.5C0 383.59 111.41 495 247.5 495C383.59 495 495 383.59 495 247.5C495 111.41 383.59 0 247.5 0ZM247.5 32C367.185 32 463 127.815 463 247.5C463 367.185 367.185 463 247.5 463C127.815 463 32 367.185 32 247.5C32 127.815 127.815 32 247.5 32ZM230 247.5C230 236.74 238.74 228 247.5 228C256.26 228 265 236.74 265 247.5C265 258.26 256.26 267 247.5 267C238.74 267 230 258.26 230 247.5ZM143 247.5C143 236.74 151.74 228 160.5 228C169.26 228 178 236.74 178 247.5C178 258.26 169.26 267 160.5 267C151.74 267 143 258.26 143 247.5ZM335 247.5C335 236.74 343.74 228 352.5 228C361.26 228 370 236.74 370 247.5C370 258.26 361.26 267 352.5 267C343.74 267 335 258.26 335 247.5Z"
		  fill="currentColor"
		/>
	  </svg>
	</main>
  </Layout>
  
